<template>
  <section class="au-animate flexPage">
    <h2 class="fullWidth">${heading}</h2>
    <div>
      <ul class="navBoxVertical nav nav-pills">
        <li repeat.for="section of sections" class="${section.isActive ? 'active' : ''}">
          <a click.trigger="sectionSelect(section)" href.bind="section.href">
            <i class="fa ${section.icon} padIcon" aria-hidden="true"></i>${section.title}
          </a>
        </li>
      </ul>
    </div>
    <div class="pageContent">
      <h3><i class="fa marRight5 ${activeIcon}" aria-hidden="true"></i> ${subHeading} Information</h3>
    </div>
    <div class="flexContentRow">
      <h4 id="randomExcuse" class="marLeftWide subMessage">${loadExcuse[0]}<hr>${loadExcuse[1]}</h4>
    </div>
  </section>
</template>
