<template>
	<div class="scriptRunner">
		${init()}		
	</div>
	<section class="au-animate flexPage ${contentClass}">
		<h2 class="fullWidth">${heading}</h2>
	<!-- SECTION NAVIGATION  -->
		<div if.bind="session.playerID != 0">
			<ul class="navBoxVertical nav nav-pills">
				<li repeat.for="section of sections" class="${section.isActive ? 'active' : ''}">
					<a click.trigger="sectionSelect(section)" href.bind="section.href">
						<i class="fa marRight5 ${section.icon} padIcon" aria-hidden="true"></i>${section.title}
					</a>
				</li>
			</ul>
		</div>
	<!-- PLAYER SELECTION -->
		<div class="pageContent" if.bind="playerID == null">
			<h3 class="pageLabel">First, I need to know who you are...</h3>
			<div class="flexColumn">
				<section class="cardTitle">
					<i class="fa marRight5 fa-lg fa-users" aria-hidden="true"></i>
					PLAYER SELECTION
				</section>
				<div class="dropdown flexContentRow centerFlex">
				  <button class="btn btn-primary dropdown-toggle fullWidth" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Player Name&nbsp;<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropDark" aria-labelledby="dropdownMenu1">
				    <li repeat.for="player of playerData.players" click.delegate="playerSelect(player.id)" if.bind="player.isGM == false">${player.name}</li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="pageLabel" if.bind="playerID != null">
			<button class="${saveClass}" click.trigger="updateDB()">
				<i class="fa marRight5 ${saveIcon}" aria-hidden="true"></i> ${saveText}
			</button>
			<button class="danger" click.trigger="playerClear()" if.bind="session.isGM == true">
				<i class="fa marRight5 fa-refresh" aria-hidden="true"></i> Player
			</button>
			<button class="error" click.trigger="fetchCharData()" if.bind="saveText = 'Save'">
				<i class="fa marRight5 fa-refresh" aria-hidden="true"></i> Reset
			</button>
		</div>
	<!-- CHARACTER MANAGEMENT -->
		<div class="pageContent" repeat.for="char of charData.characters" if.bind="session.playerID">
			<h3 class="pageLabel"><i class="fa marRight5 ${activeIcon}" aria-hidden="true"></i> ${subHeading} [ ${char.general.name} ]
				<button class="add" if.bind="activeSection == 'skills'" data-action="add" data-type="skill" data-title="Add Skill" click.delegate="popoverShow($event, char.skills)">
					<i class="fa marRight5 fa-plus-circle" aria-hidden="true"></i> Add a Skill
				</button>
			</h3>
	<!-- STATUS -->
			<div class="flexColumn" if.bind="activeSection == 'status'">
				<section class="cardTitle">
					<i class="fa marRight5 fa-medkit" aria-hidden="true"></i>
					STATUS
				</section>
				<div class="flexContentRow">
					<span>Life Points:</span>
					<div>
						<span class="rotate90 tinyNote">CUR</span>
						<input class="wide50" type="text" value.bind="char.status.lifePoints"></input>
						<span> &nbsp; / </span>
						<span class="rotate90 tinyNote">MAX</span>
						<input class="wide50" type="text" value.bind="char.status.lifePointsMax"></input>
					</div>
				</div>
				<div class="flexContentRow">
					<span>Stun Points:</span>
					<div>
						<span class="rotate90 tinyNote">CUR</span>
						<input class="wide50" type="text" value.bind="char.status.stunPoints"></input>
						<span> &nbsp; / </span>
						<span class="rotate90 tinyNote">MAX</span>
						<input class="wide50" type="text" value.bind="char.status.stunPointsMax"></input>
					</div>
				</div>
				<br>
				<p class="flexContentRow underlined">
					<span>Initiative:</span>
					<input class="cssToCaps" type="text" value.bind="char.status.initiative"></input>
				</p>
				<p class="flexContentRow underlined">
					<span>Endurance:</span>
					<input class="cssToCaps" type="text" value.bind="char.status.endurance"></input>
				</p>
				<p class="flexContentRow underlined">
					<span>Resistance:</span>
					<input class="cssToCaps" type="text" value.bind="char.status.resistance"></input>
				</p>
				<p class="flexContentRow underlined">
					<span>Credits:</span>
					<input class="wide50" type="text" value.bind="char.status.credits"></input>
				</p>
				<p class="flexContentRow underlined">
					<span>Advancement Points:</span>
					<input class="wide50" type="text" value.bind="char.status.advPoints"></input>
				</p>
				<p class="flexContentRow underlined">
					<span>Plot Points:</span>
					<input class="wide50" type="text" value.bind="char.status.plotPoints"></input>
				</p>
			</div>
			<div class="flexColumn" if.bind="activeSection == 'status'">
				<section class="cardTitle">
					<i class="fa marRight5 fa-bolt" aria-hidden="true"></i>
					STATUS EFFECTS
				</section>
				<div class="flexContentRow underlined">
					<span>Positive Temporary Effects:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.status.statusEffects.positive"></textarea>
				</div>
				<div class="flexContentRow underlined">
					<span>Negative Temporary Effects:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.status.statusEffects.negative"></textarea>
				</div>
			</div>
<!--  
			<div class="flexColumn" if.bind="activeSection == 'status'">
				<p class="flexContentRow">
					<section class="cardTitle">
						<i class="fa marRight5 fa-black-tie" aria-hidden="true"></i>
						ARMOR
						<span class="iconDark" click.delegate="popoverShow('Edit Armor')"><i class="fa marRight5 fa-pencil-square-o" aria-hidden="true"></i> Edit</span>
					</section>
				</p>
			</div>
			<div class="flexColumn" if.bind="activeSection == 'status'">
				<p class="flexContentRow">
					<section class="cardTitle">
						<i class="fa marRight5 fa-crosshairs" aria-hidden="true"></i>
						WEAPONS
						<span class="iconDark" click.delegate="popoverShow('Edit Weapon')"><i class="fa marRight5 fa-pencil-square-o" aria-hidden="true"></i> Edit</span>
					</section>
				</p>
			</div>
-->
	<!-- GENERAL -->
			<div class="flexColumn" if.bind="activeSection == 'general'">
				<p class="flexContentRow">
					<span>Player Name:</span>
					<input type="text" value.bind="charData.player"></input>
				</p>
				<p class="flexContentRow">
					<span>Character Name:</span>
					<input type="text" value.bind="char.general.name"></input>
				</p>
		<!-- Stats -->
				<div class="flexContentRow wide250 marLeftWide" repeat.for="stat of char.stats">
					<span>${stat.title}:</span>
					<div>
						<span class="circleLabel moveRight5 cssToCaps">${stat.title.substr(0,3)}</span>
						<!-- 
						<input class="wide70 cssToCaps" type="text" value.bind="stat.value"></input> 
						-->
						<select class="wide70 cssToCaps" value.bind="stat.value">
							<option value="${dice}" repeat.for="dice of diceLevels.stats">${dice}</option>
						</select>
					</div>
				</div>
			</div>
		<!-- Assets -->
			<div class="flexColumn wide300" if.bind="activeSection == 'general'">
				<p class="flexContentRow">
					<section class="cardTitle">
						<i class="fa marRight5 fa-thumbs-up" aria-hidden="true"></i>
						ASSETS
						<span class="iconDark" data-action="add" data-type="asset" data-title="Add Asset" click.delegate="popoverShow($event, char.assets)"><i class="fa marRight5 fa-plus-circle" aria-hidden="true"></i> Add</span>
					</section>
					<p class="flexContentRow underlined" repeat.for="asset of char.assets">
						<i data-action="edit" data-index="${$index}" data-type="asset" data-title="Edit ${asset.title}" click.delegate="popoverShow($event, char.assets)" class="marTopTiny fa fa-pencil-square-o icon" aria-hidden="true"></i>
						<span>${asset.title} <i if.bind="asset.note !== undefined && asset.note != ''">&nbsp;(${asset.note})</i></span>
						<input disabled class="cssToCaps clickable ${asset.level.toLowerCase()+'Input'}" type="text" value.bind="asset.level" click.delegate="minorToggle($event, asset)"></input>
					</p>
				</p>
			</div>
		<!-- Complications -->
			<div class="flexColumn wide300" if.bind="activeSection == 'general'">
				<p class="flexContentRow">
					<section class="cardTitle">
						<i class="fa marRight5 fa-thumbs-down" aria-hidden="true"></i>
						COMPLICATIONS
						<span class="iconDark" data-action="add" data-type="complication" data-title="Add Complication" click.delegate="popoverShow($event, char.comps)"><i class="fa marRight5 fa-plus-circle" aria-hidden="true"></i> Add</span>
					</section>
					<p class="flexContentRow underlined" repeat.for="comp of char.comps">
						<i data-action="edit" data-index="${$index}" data-type="complication" data-title="Edit ${comp.title}" click.delegate="popoverShow($event, char.comps)" class="marTopTiny fa fa-pencil-square-o icon" aria-hidden="true"></i>
						<span>${comp.title} <i if.bind="comp.note !== undefined && comp.note != ''">&nbsp;(${comp.note})</i></span>
						<input disabled class="clickable cssToCaps ${comp.level.toLowerCase()+'Input'}" type="text" value.bind="comp.level" click.delegate="minorToggle($event, comp)"></input>
					</p>
				</p>
			</div>
		<!-- Personality -->
			<div class="flexColumn wide300" css="${activeSection == 'summary' ? 'display:flex' : 'display:none'}">
				<require from="services/blur-image"></require>
				<section class="cardTitle">
					<i class="fa marRight5 fa-camera" aria-hidden="true"></i>
					APPEARANCE
				</section>
				<div class="flexContentRow underlined">
					<span>Image:</span> 
					<span class="icon" data-action="update" data-type="avatar" data-title="Edit Avatar" click.delegate="popoverShow($event, char.personality.image)" ><i class="fa marRight5 fa-pencil-square-o" aria-hidden="true"></i> Change</span>
				</div>
				<div class="card">	
					<canvas class="header-bg" width="250" height="70" blur-image.bind="image"></canvas>
					<div class="avatar">
						<img if.bind="char.personality.gender == 'male'"" class="clickable" src="/img/avatars/male/generic.jpg" crossorigin ref="image"/>
						<img if.bind="char.personality.gender == 'female'"" class="clickable" src="/img/avatars/female/generic.jpg" crossorigin ref="image"/>
						<!-- <img class="clickable" src.bind="char.personality.image" crossorigin ref="image"/> -->
					</div>
				</div>	
				<div class="flexContentRow underlined">
					<span>Gender:</span>
				</div>
				<div class="flexContentRow">
					<select class="wideFull" value.bind="char.personality.gender">
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="flexContentRow underlined">
					<span>Physical Description:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.personality.description"></textarea>
				</div>
			</div>
			<div class="flexColumn wide300" if.bind="activeSection == 'summary'">
				<section class="cardTitle">
					<i class="fa marRight5 fa-calendar-o" aria-hidden="true"></i>
					BACKGROUND
				</section>
				<div class="flexContentRow underlined">
					<span>Story:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull heightTall" value.bind="char.personality.background"></textarea>
				</div>
				<div class="flexContentRow underlined">
					<span>Disposition:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.personality.disposition"></textarea>
				</div>
			</div>
			<div class="flexColumn" if.bind="activeSection == 'summary'">
				<section class="cardTitle">
					<i class="fa marRight5 fa-odnoklassniki-square" aria-hidden="true"></i>
					PERSONALITY
				</section>
				<div class="flexContentRow underlined">
					<span>Likes:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.personality.likes"></textarea>
				</div>
				<div class="flexContentRow underlined">
					<span>Dislikes:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.personality.dislikes"></textarea>
				</div>
				<div class="flexContentRow underlined">
					<span>Notes:</span>
				</div>
				<div class="flexContentRow">
					<textarea class="wideFull" value.bind="char.personality.notes"></textarea>
				</div>
			</div>
	<!-- SKILLS -->
			<div class="flexColumn wide270 justifyBetween" if.bind="activeSection == 'skills'" repeat.for="skill of char.skills">
				<section class="cardTitle">
					${skill.title.toUpperCase()}
					<span class="iconDark" data-index="${$index}" data-action="edit" data-type="skill" data-title="Edit ${skill.title}" click.delegate="popoverShow($event, char.skills)" ><i class="fa marRight5 fa-pencil-square-o" aria-hidden="true"></i> Edit</span>
				</section>
				<p class="flexContentRow underlined">
					<span>General Skill</span>
					<!-- <input class="wide70 cssToCaps" type="text" value.bind="skill.level"></input> -->
					<select class="wide70 cssToCaps" value.bind="skill.level">
						<option value="${dice}" repeat.for="dice of diceLevels.skillGen">${dice}</option>
					</select>
				</p>
				<p class="flexContentRow">
					<span class="padLeftSmall" if.bind="skill.spec.length > 0">
						<i class="fa marRight5 fa-wrench" aria-hidden="true"></i> 
						${skill.spec}
					</span>
					<!-- <input class="wide70 cssToCaps" if.bind="skill.spec.length > 0" type="text" value.bind="skill.specLvl"></input> -->
					<select class="wide70 cssToCaps" if.bind="skill.spec.length > 0" value.bind="skill.specLvl">
						<option value="${dice}" repeat.for="dice of diceLevels.skillSpec">${dice}</option>
					</select>
				</p>
			</div>
	<!-- Items -->
		<div class="flexColumn minWide270" if.bind="activeSection == 'inventory'" repeat.for="type of char.inventory">
			<section class="cardTitle"><i class="fa marRight5 ${type.icon}" aria-hidden="true"></i> ${type.type.toUpperCase()}
				<span class="iconDark" data-action="add" data-type="item" data-title="Add ${type.type}" click.delegate="popoverShow($event, type.items)"><i class="fa marRight5 fa-plus-circle" aria-hidden="true"></i> Add </span>
			</section>
			<div repeat.for="item of type.items">
				<p class="flexContentRow">
					<span><i data-index="${$index}" data-action="edit" data-type="item" data-title="Edit ${type.type}" click.delegate="popoverShow($event, type.items)" class="marTopTiny fa fa-pencil-square-o icon" aria-hidden="true"></i></span>
					<span> ${item.title}</span>
					<input class="wide50" type="text" value.bind="item.qty"></input>
				</p>
				<p class="flexContentRow underlined"">
					<span class="fullWidth centerText sideNote padRightMed">${item.description}</span>
				</p>
			</div>
		</div>
	</section>

<!-- 
	POPOVERS
 -->

	<div class="au-animate ${popoverClass}">
	<!-- Title -->
		<section class="cardTitle">${popoverTitle}</section>
	<!-- Content -->
		<div class="flexContentRow underlined" repeat.for="key of popoverKeys">
			<span class="cssToSmallCaps">${key.label}:</span>
		<!-- Add -->
			<input if.bind="popoverAction == 'add' && key.input == 'text'" class="popInput${popoverAction}" data-key="${key.data}" type="text" value="${key.default}"></input>
			<select if.bind="popoverAction == 'add' && key.input == 'select'" class="popInput${popoverAction}" data-key="${key.data}" type="text">
				<option repeat.for="opt of key.options">${opt}</option>
			</select>
		<!-- Edit -->
			<input if.bind="popoverAction == 'edit' && key.input == 'text'" class="popInput${popoverAction}" data-key="${key.data}" type="text" value="${popoverBind[popoverIndex][key.data]}"></input>
			<select if.bind="popoverAction == 'edit' && key.input == 'select'" class="popInput${popoverAction}" data-key="${key.data}" type="text" value="${popoverBind[popoverIndex][key.data]}">
				<option repeat.for="opt of key.options">${opt}</option>
			</select>
		</div>
	<!-- Actionables -->
		<div class="flexContentRow centerFlex">
			<button class="add" click.delegate="popoverProcess(popoverAction)" if.bind="popoverAction == 'add'">
				<i class="fa marRight5 fa-plus-circle" aria-hidden="true"></i> Create
			</button>
			<button class="add" click.delegate="popoverProcess(popoverAction)" if.bind="popoverAction == 'edit' || popoverAction == 'change'">
				<i class="fa marRight5 fa-refresh" aria-hidden="true"></i> Update
			</button>
			<button class="error" click.delegate="popoverProcess('delete')" if.bind="popoverAction == 'edit'">
				<i class="fa marRight5 fa-refresh" aria-hidden="true"></i> Delete
			</button>
			<button class="danger" click.delegate="popoverHide()">
				<i class="fa marRight5 fa-times-circle" aria-hidden="true"></i> Cancel
			</button>
		</div>
	</div>
</template>
