<template>
  <section class="au-animate">
  <div class="jumboTron">
    <div class="page-header">
      <h2>${heading}</h2>
    </div>
    <p>${subHeading}</p>    
  </div>
    <!-- <require from="styles/style.css"></require> -->
    <!-- <require from="styles/bootstrap/bootstrap.css"></require> -->
    <!-- <require from="styles/font-awesome@4.5.0/css/font-awesome.min.css"></require> -->
  </section>
</template>
