<template>
	<require from="services/blur-image"></require>
	<!-- <require from="services/pouchdb.min"></require> -->
	<div class="scriptRunner">
		${init()}		
	</div>
	<section class="au-animate">
<!-- SEARCH FIELD -->
		<div class="input-group margin-bottom-sm au-animate searchBox">
			<span class="input-group-addon">
				<i class="fa fa-search fa-2x" aria-hidden="true"></i>
			</span>
			<input class="form-control" keyup.trigger="searchGo()" value.bind="search" type="text" placeholder="Search by Item/Skill/Asset/Complication Name">
<!-- SEARCH FILTERS -->
			<div class="form-control searchFilters">
				<label for="cbSkills"><input checked.bind="filter.skills" id="cbSkills" type="checkbox">Skills</label>
				<label for="cbAssets"><input checked.bind="filter.assets" id="cbAssets" type="checkbox">Assets</label>
				<label for="cbComplications"><input checked.bind="filter.complications" id="cbComplications" type="checkbox">Complications</label>
				<label for="cbItems"><input checked.bind="filter.items" id="cbItems" type="checkbox">Items</label>
				<label for="cbWeapons"><input checked.bind="filter.weapons" id="cbWeapons" type="checkbox">Weapons</label>
				<label for="cbNPC's"><input checked.bind="filter.npcs" id="cbNPC's" type="checkbox">NPC's</label>
			</div>
			<span class="input-group-addon clickable" if.bind="search.length > 0" click.trigger="searchClear()">
				<i class="fa fa-times fa-2x color-red" aria-hidden="true"></i>
			</span>
		</div>
<!-- SEARCH FEEDBACK -->
		<div class="headerSummary" >
			<span class="headerSummary" if.bind="units.length > 0">Displaying ${units.length} results out of ${searchMatches}</span>
			<span class="headerSummary" if.bind="searchInput.length > 0 && units.length == 0">Sorry, no results matching "${searchInput}"</span>
		</div>
		<div class="row au-stagger">
	<!-- LOOP OVER EACH RESULT -->
			<div class="col-sm-6 col-md-3 card-container au-animate" repeat.for="unit of units" if.bind="(filter.skills == true && unit.type == 'skill') || (filter.assets == true && unit.type == 'asset') || (filter.complications == true && unit.type == 'complication') || (filter.items == true && unit.type == 'item') || (filter.weapons == true && unit.type == 'weapon') || (filter.npcs == true && unit.type == 'npc')">
				<div class="card">
				<!-- TITLE HEADER -->
					<canvas class="header-bg" width="250" height="70" blur-image.bind="image"></canvas>
					<div class="avatar">
						<img src="/img/${unit.type}.png" crossorigin ref="image"/>
					</div>
					<div class="content">
						<p class="name">
						<b>${unit.type.toUpperCase()}</b>&nbsp;${unit.title} 
						<span if.bind="unit.major == true || unit.minor == true"><br>(</span>
						<span if.bind="unit.major == true"> Major </span>
						<span if.bind="unit.major == true && unit.minor == true">&nbsp;&amp;&nbsp;</span>
						<span if.bind="unit.minor == true"> Minor </span>
						<span if.bind="unit.major == true || unit.minor == true">)</span>
					<!-- IMAGES -->
						</p>
						<div repeat.for="img of unit.images">
							<img class="cardSubImage" src="${img}" crossorigin ref="image"/>
						</div>
					<!-- SUMMARY -->
						<hr if.bind="unit.summary.length > 0">
						<p class="jsonContent" if.bind="unit.summary.length > 0">
							<u>${unit.subTitleName}:</u>
							${unit.summary}
						</p>
					<!-- AVAILABILITY & COST -->
						<hr if.bind="unit.availability.length > 0">
						<p class="jsonContent" if.bind="unit.availability.length > 0">
							<u>Availability:</u> ${unit.availability}
							<u>Credits:</u> ${unit.costCredit}
							<u>Platinum:</u> ${unit.costPlatinum}
						</p>
					<!-- DESCRIPTION -->
						<hr>
						<p>
							<u>Description:</u><br>${unit.description}
						</p>
					<!-- MORE INFO -->
						<hr if.bind="unit.moreInfo.length > 0">
						<p class="jsonContent" if.bind="unit.moreInfo.length > 0">
						<!-- SKILL LEVELS -->
							<span if.bind="unit.type == 'skill'"><u>Skill Levels</u></span>
							${unit.moreInfo}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
