
<template>
    <require from="components/nav-bar/nav-bar.html"></require>
    <!-- <require from="./styles/styles.css"></require> -->
    <nav-bar router.bind="router"></nav-bar>

    <div class="page-host">
        <router-view></router-view>
    </div>
</template>