body {
  margin: 0;
  background-color: #110 !important;
  color: #ffe !important;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 48px;
  line-height: 48px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .subMessage {
  font-size: 36px;
  line-height: 36px;
  margin-top: 20px;
  font-style: italic;
  text-shadow: rgba(0, 0, 0, 0.25) 0 0 7px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 48px;
  margin-top: 25px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0px 7px;
  background-color: #452A15;
  color: #ffe;
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

img.cardSubImage {
  max-width: 100%;
  margin-bottom: 10px;
}

div.searchBox {
  margin: 10px;
}

div.searchBox > input {
    font-size: 1.8em;
    height: 50px;
}

div.headerSummary {
  padding: 0px 10px 10px 10px;
  font-size: 1.3em;
}

p.jsonContent {
  white-space: pre-line;
}

div.searchFilters {
  height: auto;
}

div.searchFilters > label {
  margin: 4px 8px;
}

.padIcon {
  margin-right: 5px;
}

div.pageContent {
  display: flex;
  flex-wrap: wrap;
  min-width: 95%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #333;
  padding: 0px 15px;
}

h3.pageLabel, div.pageLabel {
  width: 100%;
}

h3.pageLabel > button {
  font-size: 0.6em;
  margin: 0px 0px 0px 10px;
}

.hidden {
  display: none;
}

.disabled {
  opacity: .2;
}

.popoverShow {
  position: absolute;
  width: 315px;
  left: calc(50% - 150px);
  top: 75px;
  height: auto;
  padding: 15px;
  border: 2px outset silver;
  border-radius: 5px;
  background-color: black;
}

.underlined { 
  border-bottom: 1px solid #777;
  border-radius: 2px;
  padding-bottom: 2px;
}

.icon, .iconDark {
  cursor: pointer;
  opacity: .8;
  font-size: .85em !important;
  align-self: center;
  margin-top: 2px;
  float: right;
}

.icon {
  color: white;
}

.iconDark {
  color: black;
}

.flexColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #08151E;
  padding: 10px;
  width: 310px;
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
}

.flexContentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flexContentRow > span {
  font-size: 1.2em;
}

.flexContentRow > input[type=text], 
.flexContentRow > select, 
.flexContentRow > div > select, 
.flexContentRow > div > input[type=text],
.flexContentRow > textarea,
.flexContentRow > div > textarea {
  font-size: 1.1em;
  color: black;
  width: 50%;
  height: 22px;
  border-radius: 4px;
  padding-left: 10px;
  background-color: #ccc;
}

.flexContentRow > textarea,
.flexContentRow > div > textarea {
  height: 75px;
}

section.flexPage {
  display: flex;
  flex-wrap: wrap;
}

section.flexPage > div, section.flexPage > h2 {
  margin: 5px 5px 5px 0px !important;
}

section.cardTitle {
  margin: 0px 0px 10px 0px;
  color: black;
  background-color: #F0E5C9;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  min-height: 25px;
}

.navBoxVertical {
  display: flex;
  flex-wrap: wrap;
  min-height: 20px;
  padding: 10px 5px 5px 10px !important;
  background-color: #333;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  width: auto;
}

.navBoxVertical > li {
  margin: 0px 10px 5px 0px !important;
  width: 125px;
}

.rotate90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);   
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  display: inline-block;
  margin-right: -7px;
  padding-left: 2px;
}

ul.dropDark {
  background-color: #ccc;
  color: black;
  width: 100%;
  font-size: 1.25em;
}

ul.dropDark > li {
  text-indent: 10px;
  cursor: pointer;
}

ul.dropDark > li:hover {
  background-color: #444;
  color: white;
}

.fullWidth {
  width: 100%;
}

.heightTall {
  height: 186px !important;
}

.centerText {
  text-align: center !important;
}

.centerFlex {
  justify-content: center !important;
}

.tinyNote {
  font-size: .55em !important;
  opacity: .85;
}

.sideNote {
  font-size: .9em !important;
  font-style: italic;
}

.selectInvert {
  filter: invert(70%);
}

.clickable {
  cursor: pointer;
}

.color-red {
  color: #922;
}

.scriptRunner {
  display: none;
}

.wide50 {
  width: 60px !important;
  border-radius: 10px !important;
  text-align: center;
  padding: 0px !important;
}

.wide70 {
  width: 70px !important;
  /*border-radius: 10px !important;*/
  text-align: center;
  padding: 0px !important;
}

.wideFull {
  width: 100% !important;
}

.justifyBetween {
  justify-content: space-between !important;
}

.minorInput, .majorInput {
  width: 75px !important;
}

.majorInput {
  background-color: #FF7233 !important;
}
.minorInput {
  background-color: #FFC770 !important;
}

span.circleLabel {
  display: inline-block;
  border-radius: 7px;
  width: 50px;
  height: 22px;
  font-size: 1.11em;
  background-color: #FF8C00;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.moveRight5 {
  margin-right: -5px;
}

button.danger, button.add, button.error, button.working {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px outset #777;
  font-weight: bold;
}

.danger {
  background-color: #C95222 !important;
  color: white !important;
}

.add {
  background-color: #598637 !important;
  color: white !important;
}

.error {
  background-color: #B22222 !important;
  color: white !important;
}

.working {
  background-color: #FFF8DC !important;
  color: black !important;
}

.bigText {
  font-size: 1.35em;
}

.pad20 {
  padding: 20px;
}

.padRightMed {
  margin-right: 30px;
}

.marRight5 {
  margin-right: 5px;
}

.marLeftWide {
  margin-left: 40px;
}

.marTopTiny {
  margin-top: 5px;
}

.padLeftSmall {
  padding-left: 10px;
}

.wide250 {
  width: 250px !important;
}

.wide270 {
  width: 270px !important;
}

.minWide270 {
  min-width: 270px !important;
}

.wide300 {
  width: 300px !important;
}

.cssToCaps {
  text-transform: uppercase;
}

.cssToSmallCaps {
  font-variant: small-caps;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
  MOBILE CSS OVERRIDES
*/

@media screen and (max-width: 450px) {

  .navBoxVertical > li {
    width: 100%;   
  }

  .flexColumn {
    width: 100% !important;
  }


}
